@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400&family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400&display=swap");
.slidev-slide { font-family: 'Raleway', sans-serif; font-weight: 300; }
.slidev-slide h1, .slidev-slide h2, .slidev-slide h3 { font-family: inherit; font-weight: inherit; margin: 0; }
.slidev-slide p { margin: 0; }
.slidev-slide td { padding: 0; }
